html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: #efefef;
  margin: 0;
  font-family: 'Zhizn';
  font-weight: 400;
  font-style: normal; }

.header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  background-image: url("../../../img/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%; }
  .header::after {
    clear: both;
    content: "";
    display: table; }

.logo {
  text-align: center; }

.logo img {
  width: auto;
  height: 250px; }

.wrapper {
  background-image: url("../../../img/2.jpg"); }

.info {
  padding: 10px;
  background-color: #080808;
  height: 350px;
  color: #a9a9a9;
  font-size: 22px; }

.info .video {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 8.5298%;
  float: left;
  margin-top: 1%; }
  .info .video:last-child {
    margin-right: 0; }

.info blockquote {
  padding: 10px;
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  float: left;
  margin-top: 0px;
  font-size: 16px; }
  .info blockquote:last-child {
    margin-right: 0; }

.geo {
  font-size: 18px;
  text-align: center;
  color: #efefef; }

.pphone, .pmail, .pgeo, .ptime {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .pphone:last-child, .pmail:last-child, .pgeo:last-child, .ptime:last-child {
    margin-right: 0; }

.geo .pgeo:before {
  content: "";
  background-image: url("../../../img/icons/geo.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  margin-right: 10px; }

.geo .pphone:before {
  content: "";
  background-image: url("../../../img/icons/phone.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  margin-right: 10px; }

.geo .pmail:before {
  content: "";
  background-image: url("../../../img/icons/mail.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  margin-right: 10px; }

thead {
  font-weight: bold;
  color: #fff; }

table {
  width: 100%;
  text-align: center;
  color: #FFFFFF; }

td {
  padding: 15px; }

tbody tr:hover {
  color: #9C968B;
  transition: all .5s;
  border-bottom: 1px solid #9C968B; }

.tap-list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 15px; }
  .tap-list:last-child {
    margin-right: 0; }

.tap-list h1:after {
  content: "-";
  display: inline-block;
  position: relative; }

.tap-list h1:before {
  content: "-";
  display: inline-block;
  position: relative; }

.tap-list h1 {
  margin: 0;
  color: #7a7368; }

.tbl img {
  width: 100px;
  height: 100px;
  border-radius: 10px; }

.gallery {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #000; }
  .gallery:last-child {
    margin-right: 0; }

.gallery div img {
  float: left;
  width: 33.3%;
  border-radius: 10px; }
